{% include 'header.html' %}
<h1>Insert Query</h1>
<div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Quick Example</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              {% if messages %}
              	{% for i in messages %}
              		<div class="alert alert-success" style="margin-top: 30px;">{{i}}</div>
              	{% endfor %}
              {% endif %}
              <form method="post">{% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="fname">
                  </div>
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lname">
                  </div>
                  <div class="form-group">
                    <label >Email Id</label>
                    <div class="input-group">
                        <input type="email" class="form-control" name="email">
                        
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Date</label>
                    <input type="date" class="form-control" name="date">
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <input type="submit" class="btn btn-primary" value="Create User">
                </div>
              </form>
            </div>
{% include 'footer.html' %}