
{% load static %}

 <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %} " rel="stylesheet" type="text/css">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %}"rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %} " rel="stylesheet">
  <!DOCTYPE html>
  <html>

  
<style type="text/css">
   #cover{
    background:url('/static/img/gallery.jpg');
    background-size: cover;
   }
   label{
    color:black;
   }
 </style>
  
  
  <body id="cover">
    
      
      

      
    <section class="ftco-section">
      <div class="container" >
        <div class="row no-gutters justify-content-center ">
          <div class="col-md-7 text-center heading-section " style="padding-top: 30px;">
            
          </div>
        </div>
    <center>
          <div class="col-md-6 makereservation p-5 bg-light">
     {% if messages %}
              {% for i in messages %}
                <div class="alert alert-danger">{{i}}</div>
              {% endfor %}
            {% endif %}
            <form  method="post" action="{% url 'login' %}">{% csrf_token %}
              <h2 style="color: black">LOGIN</h2>
              <div class="row">
                  <label for="">Username</label>
                    <input type="text" class="form-control"  name="username" required="required">
                 
               <label for="">Password</label>
                    <input type="password" class="form-control" name="password" required="required" >
                </div>
                <div class="col-md-12 mt-3">
                  <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-info btn-lg">
                  </div>
                </div>
                <a href="{% url 'forgotpassword' %}">Forgot password?</a><br>
                <Right><a href="{% url 'user_register' %}">Don't have a acccount?register here!</a></Right>
              </div>
            </form>
          </center>
      </section>
    

</body>
</html>
