




{% load static %}
{% include 'base.html' %}
<!DOCTYPE html>
<html>


 <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %} " rel="stylesheet" type="text/css">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %}"rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %} " rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">

 
<style type="text/css">
  
  .ftco-navbar-light
  {
    background: #000 !important;


   
   }
   
     #cover{
    background:url('/static/img/gallery.jpg');
    background-size: cover;
   }
   label{
    color: black;
   }
   

  



 </style>
 
  <body id="cover">
   
  
    
    <section class="ftco-section">
      <div class="container">
        <div class="row no-gutters justify-content-center " style="padding-bottom: 0;">
          <div class="col-md-7 text-center heading-section ftco-animate" style="padding-top: 30px;">
            
          </div>
        </div>
    
        <div class="row d-flex">
        <center>
          <div class="col-md-8 ftco-animate makereservation p-5 bg-light">
              {% if messages %}
              {% for i in messages %}
                <div class="alert alert-success">{{i}}</div>
              {% endfor %}
            {% endif %}
            <form action=""  method="post">{% csrf_token %}
              <h2 style="color: black">Register Your Details</h2>
              <div class="row">
      
                    <label for="">First Name</label>
                    <input type="text" class="form-control" name="fname"  required="required">
                    <label for="">Last Name</label>
                    <input type="text" class="form-control" name="lname" required="required">
                 
                    <label for="">Email</label>
                    <input type="email" class="form-control" name="email"  required="required">
                      <label for="">Username</label>
                    <input type="text" class="form-control" name="username"  required="required">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password" required="required">
                    <label for="">Contact Number</label>
                    <input type="number" class="form-control" name="number" required="required">
                    <label for="">Address</label>
                    <textarea name="content" class="form-control"></textarea>
                    <label for="">Date of Birth</label>
                    <input type="date" class="form-control" name="date"  required="required">
                   
                   
                <div class="col-md-12 mt-3">
                  <div class="form-group">
                    <input type="submit" value="Create an Account" class="btn btn-info btn-lg">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
    </center>
    </section>
  
  </body>
  </html>
